<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class="form_container">
        <h1>Application Security Week 1 Flask Assignment</h1>  

        <form method="post">
            <label for="content">Input Text</label>
            <br>
            <textarea name="content"
                      placeholder="Text here"
                      rows="15"
                      cols="60"
                      >{{ request.form['content'] }}</textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
      </div>
    </main>
  </body>
</html>

